/* DrawerToggle.css */

.Drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  
  .Drawer div{
    width: 25px;
    height: 3px;
    background-color: gray;
  }
  
  @media (min-width: 800px) {
    .Drawer {
      display: none;
    }
  }
  